ion-card {
  border-radius: 10px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.no-padding {
  padding: 0px !important;
}

ion-searchbar{
  padding: 0!important;

}

ion-grid{
  padding: 0;
}
