<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{task.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col offset-md="6" offset-md="3">
      <ion-card>
        <ion-item>
          <ion-label position="floating">Description:</ion-label>
          <ion-input readonly="" value="{{task.description}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Due Date:</ion-label>
          <ion-input readonly="" value="{{task.dueDate.toDateString()}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Due Time:</ion-label>
          <ion-input readonly="" value="{{task.dueTime}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Created in:</ion-label>
          <ion-input readonly="" value="{{task.location.address}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Completed:</ion-label>
          <ion-input readonly="" value="{{task.completed}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-img [src]="task.imageUrl"></ion-img>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
