<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{task.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col offset-md="6" offset-md="3">
      <ion-card >
        <ion-card-header>
          <ion-card-title>{{task.description}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p> <b>DUE DATE:</b> {{task.dueDate.toDateString()}} </p>
          <p> <b>DUE TIME:</b> {{task.dueTime}} </p>
          <p> <b>CREATED:</b> {{task.createdAt.toDateString()}} </p>
          <p> <b>STATUS:</b> {{task.status}} </p>
          <p><b>TASK ASSIGNED: </b>{{task.assigned}} </p>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
