<ion-header>
  <ion-toolbar>
    <ion-buttons color="warning" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">New Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button
              (click)="onCreateOffer()"
>
        <ion-icon color="warning" name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              type="text"
              value=""
              autocomplete
              autocorrect
              formControlName="title">

            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input
              type="text"
              value=""
              autocomplete
              autocorrect
              formControlName="description"
              >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Set date</ion-label>
            <ion-datetime
                    displayFormat="MM/DD/YYYY"
                    min="2019-01-01"
                    max="2025-12-31"
                    formControlName="setDueDate">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Set Time</ion-label>
            <ion-datetime
                    display-format="h:mm A"
                    picker-format="h:mm A"
                    formControlName="setDueTime">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <app-location-picker (locationPick)="onLocationPicked($event)"></app-location-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker
                  [showPreview]="form.get('image').value"
                  (imagePick)="onImagePicked($event)"
          ></app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
